:root {
  
}
body {
	color: var(--black);
  font-family: 'Source Sans Pro', sans-serif;
}
header {
  background: #fff;
  margin-top: -20px;
}
.container-fluid {
  width: 90%;
}
#navbar-main {
  height: 100px;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02);*/
}
.headroom--not-top #navbar_global .navbar-nav-hover .nav-item a.nav-link .nav-link-inner--text{
  color: #fff!important;
}
.navbar > .container-fluid {
  flex-wrap: wrap!important;
}
.navbar-transparent .navbar-toggler-icon, 
.navbar-collapse .navbar-toggler :nth-child(1), 
.navbar-collapse .navbar-toggler :nth-child(2) {
  background: #1EAEE7;
}
.nav-link-inner--text {
  color: #fff;
  font-size: 16px;
}
.signup {
  background: #1EAEE7;
  border: 1px solid #1eaee7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  margin-top: 6px;
}
.signup .nav-link-inner--text {
  color: #fff;
}
#header-background {
  /*background: rgba(0, 0, 0, 0.4);*/
  /*background: url(./../images/back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: normal;*/
  /*height: 400px;*/
}
#getitdone-div {
  padding: 150px 0 150px 0;
  padding-left: 95px;
}
#getitdone-div h2 {
  font-weight: bold;
  line-height: 51px;
  font-size: 45px;
  color: #000000;
}
#getitdone-div p {
  width: 90%;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.6);
  line-height: normal;
}
ul.carousel-indicators {
  display: block;
  left: 73%;
}
ul.carousel-indicators li {
  display: block;
  margin-bottom: 10px;
  width: 4px;
  height: 4px;
}
#search-div {
  background: #FFFFFF;
  position: relative;
  /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.03);*/
  border-radius: 5px;
  margin-top: -25px;
  /*width: 85%;*/
}
#search-div p#searchfor {
  font-size: 16px;
  color: #000000;
  text-transform: capitalize;
  font-weight: normal;
}
#search-div hr.searchfor-line,
hr.searchfor-line {
  width: 3%;
  float: left;
  margin-top: 0;
  margin-bottom: 5px;
  border: 1px solid #1EAEE7;;
}
#search-div .search {
  border-right: 0.2px solid rgba(0, 0, 0, 0.46);
}
#search-div p {
  padding-top: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}
#search-div input, #search-div select {
  font-size: 18px;
  color: #C3C3C3;
  border: 0;
  border-bottom: 1px solid #1EAEE7;
  border-radius: 0;
  padding-left: 0;
  margin-top: -15px;
}
.signup#search {
  margin-left: 0;
  margin-top: 45px;
  padding-left: 40px;
  padding-right: 40px;
}
.btn.signup:hover .nav-link-inner--text{
  color: #1EAEE7;
}
#search-icon {
  margin-left: -10px;
}
.howitworks-div {
  width: 85%;
  margin: 0 auto;
  padding: 70px 0;
}
.howitworks {
  font-weight: bold;
  line-height: 35px;
  font-size: 31px;
  color: #4B4B4B;
}
.howitworkstext-div {
  width: 45%;
  margin: 0 auto;
}
.howitworks-text {
  font-size: 16px;
  color: #626262;
  padding-bottom: 60px;
}
#developers-tab {
  width: 50%;
  margin: 0 auto;
}
#developers-tab .nav-tabs .nav-link {
  padding: 5px 30px;
  font-size: 18px;
}
#developers-tab .nav-tabs {
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.46);
}
#developers-tab .nav-tabs .nav-link.active, 
#developers-tab .nav-tabs .nav-item.show .nav-link {
  color: #1EAEE7;
  border: 0;
  border-bottom: 2px solid #1EAEE7;
  border-radius: 5px 5px 0px 0px;
}
#developers-tab .nav-tabs .nav-link:hover {
  color: #1EAEE7;
  border: 0;
}
#developers-tab .tab-content {
  padding-top: 30px;
}
.developer-text {
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #000;
  font-weight: bold;
  margin-top: 10px;
  clear: left;
}
.developertext {
  font-size: 16px;
  color: #626262;
  letter-spacing: 0.01em;
  padding-bottom: 20px;
}
.developertext-width {
  width: 85%;
}
.white {
  color: #fff;
}
#processdiv {
  background: url(./../images/process.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
}
#process-div {
  width: 85%;
  margin: 0 auto;
  padding: 80px 0 100px 0;
  color: #fff;
}
.ourprocess-text {
  width: 40%;
  margin: 0 auto;
  line-height: normal;
  margin-bottom: 40px;
}
.process-box {
  background: #fff;
  position: relative;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  padding: 20px;
}
.developertext.curated {
  padding-bottom: 27px;
}
.developertext.curated-list, .howitworks-text.ecosystem {
  padding-bottom: 0;
}
.m-top {
  margin-top: 25px;
}
.process-icon {
  position: absolute;
  right: -20px;
  bottom: -20px;
}
.whytext-div {
  width: 60%;
  margin: 0 auto;
}
.companies {
  line-height: 32px;
  font-size: 21px;
  letter-spacing: 0.01em;
  color: #000;
  font-weight: 600;
}
.companies-image {
  margin-left: 80px;
  margin-top: 30px;
}
/*.pro {
  position: absolute;
  right: 0;
  margin-top: -15%;
  width: 150px;
}
.pro-two {
  position: absolute;
  top: 70%;
  left: -40px;
}*/
.whypro-two {
  position: absolute;
  margin-top: -35%;
  left: -40px;
}
footer.footer {
  background: url(./../images/footer.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  mix-blend-mode: normal;
}
.footer-div {
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
  color: #bbb;
}
.prodevs {
  line-height: 30px;
  font-size: 21px;
  color: #FFFFFF;
}
.footer-div p,
.footer-div p a.developertext.curated-list {
  color: #bbb;
}
hr.footer-line {
  background: rgba(92, 92, 92, 0.5);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

/*Login page */
/*.login-logo {
  padding-top: 70px;
  padding-bottom: 30px;
}*/
.login-tab {
  position: relative;
  left: -40%;
  top: 20px;
  width: 80%;
  margin: 0 auto; 
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 30px;
}
.login-tab label, #profilecreation-div label {
  font-weight: 600;
  line-height: normal;
  font-size: 14px;
  color: #626262;
}
.signin-div {
  margin-top: 70px;
  padding-bottom: 70px;
}
a.form-close {
  position: absolute;
  top: -40px;
  right: 0;
}
.text-divider {
  position: relative;
  top: 3px;
}
.form-check-image {
  margin-top: -3px;
}
.next {
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 60px;
  margin-bottom: 10px;
  padding-top: 7px;
  text-transform: uppercase;
}
.login-welcome {
  position: relative;
  top: 3px;
  left: 6px;
  font-size: 14px;
  color: #BBBBBB;
  line-height: normal;
}
.applytojoin {
  line-height: 26px;
  font-size: 19px;
  color: #626262;
}
.forgot-password {
  font-size: 16px;
  text-decoration-line: underline;
  color: #1EAEE7;
}
.signup.signin-linkedin {
  padding-top: 7px;
  text-transform: uppercase;
}
.notamember {
  padding-top: 40px;
  font-size: 16px;
  color: #979797;
  position: relative;
  left: -22%;
}
.join-now {
  color: #1EAEE7;
}

/* dashboard */
.dashlogo-div {
  margin-left: 120px;
}
.devdashboard-div {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}
.devdashboard-div .nav {
  display: block; 
  padding-top: 100px;
}
.devdashboard-div .nav-link {
  padding: 1.5rem 2rem;
}
.devdashboard-div .nav-link:hover,
.dev-dashboard-div .nav-link:active,
.dev-dashboard-div .nav-link:focus,
.dev-dashboard.div .nav-link.active,
.dev-dashboard-div .nav .nav-item.active {
  border-right: 2px solid #1EAEE7;
}
.devdashboard-div .nav-link img {
  margin-left: 5px;
}
.dashboard-nav {
  background: #fff;
  box-shadow: 0px 2px 20px rgba(117, 117, 117, 0.05);
  padding: 10px 50px 10px 20px;
}
#userprofile-tab .nav-tabs {
  background: #FFFFFF;
  box-shadow: 0px 2px 20px rgba(117, 117, 117, 0.05);
  /*height: 65px;*/
  padding-top: 10px;
  padding-left: 15px;
}
#userprofile-tab .nav-tabs .nav-item .nav-link {
  padding: 0.5rem 2rem;
  color: #979797;
}
#userprofile-tab .nav-tabs .nav-item.show .nav-link, 
#userprofile-tab .nav-tabs .nav-link.active {
  color: #1EAEE7;
  font-weight: 600;
  border: 0;
}
#userprofile-tab .nav-tabs .nav-item .nav-link:hover {
  border: 0;
  color: #1EAEE7;
}
#userprofile-tab .tab-content {
  padding-top: 30px;
}
.profile-text {
  font-size: 14px;
  color: #626262;
  margin-top: 3px;
  margin-left: -15px;
}
.apikey {
  height: 80px;
  background: #BBE5B3;
  mix-blend-mode: normal;
  opacity: 0.5;
  border: 1px solid #C4CDD5;
  border-left: 4px solid #B8E986;
  padding: 13px 15px;
  margin-top: 15px;
  margin-left: -20px;
  margin-bottom: 60px;
}
#apikey-copy {
  background: #FFFFFF;
  box-shadow: 0px 0px 4.21053px rgba(63, 63, 68, 0.05);
  border-radius: 2.80702px;
  font-size: 11.2281px;
  color: #555555;
  margin-top: 15px;
}
.apikey-digit {
  font-size: 14px;
  font-weight: 600;
  margin-top: -15px;
}
#geninfo-tab {
  margin-left: 33px;
}
#profilecreation-div {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 1.5px 10px rgba(47, 47, 47, 0.06);
  border-radius: 5px;
}
#profilecreation-div form {
  height: 675px;
  padding: 30px 20px 15px 20px;
  margin-bottom: 10px;
}
#profilecreation-div .form-control {
  font-size: 14px;
} 
.altlogin-div {
  height: 127px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 1.5px 10px rgba(47, 47, 47, 0.06);
  border-radius: 5px;
  text-align: center;
  padding: 40px 5px 0 5px;
}
.altlogin-div img {
  margin-bottom: 20px;
}
.altlogin-div .sync {
  font-weight: 600;
  line-height: normal; 
  font-size: 14px;
  text-decoration-line: underline;
  color: #000000;
}
.chatapp {
  position: absolute;
  right: 15px;
  bottom: 30%;
}
.addskills-div {
  margin-left: 40px;
  margin-top: 10px;
  font-size: 16px;
  color: #626262;
  font-weight: 600;
}
.signup.save-changes {
  padding: 15px 40px;
}
.signup.addnewskill-btn {
  height: 45px;
  width: 45px;
  font-size: 35px;
  margin-top: 0;
  padding-top: 0;
}
.newskills-div {
  background: rgba(117, 117, 117, 0.05);
  border-radius: 3px;
  padding: 25px;
}
.newskill {
  width: 126px;
  height: 40px;
  background: #FFF;
  color: #000;
  border: 0.1px solid #B0B0B0;
  box-sizing: border-box;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.02);
  border-radius: 100px;
  margin-bottom: 5px;
}
.badge-light {
  background-color: #1EAEE7;
  color: #fff;
  border-radius: 20px;
  margin-left: 20px;
}
/*.devdashboard-div .nav-tabs .nav-link {
  width: 99px;
  padding: 10px 30px; 
  font-size: 30px;
  color: #9B9B9B;
}
.devdashboard-div .nav-tabs .nav-link:hover {
  border: 0;
}
.devdashboard-div .nav-tabs .nav-link.active, 
.devdashboard-div .nav-tabs .nav-item.show .nav-link {
  border: 0;
  border-radius: 0;
  border-right: 1px solid #1EAEE7;
  color: #1EAEE7;
}
.devdashboard-div .nav-tabs {
  padding-top: 220px;
}*/
.select-env {
  font-weight: 600;
  line-height: 20px;
  font-size: 22px;
  color: #212B36;
}
.select-div {
  /*margin-left: -70px;*/
  margin-left: -20px;
  padding-bottom: 70px;
}
.environment-box {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 1.5px 10px rgba(47, 47, 47, 0.06);
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 138px;
  height: 138px;
  margin-right: 20px;
}
a p.environment-text {
  font-size: 16px;
  text-align: center;
  color: #2A3255;
  font-weight: 600;
  margin-top: 5px;
}
.devdashboard-line {
  border: 1px solid #DFE2EB;
  float: left;
  width: 70%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.need-help {
  clear: left;
  font-weight: 600;
  font-size: 20px;
  margin-top: 5px;
}
#selectedides-div .card {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 1.5px 10px rgba(47, 47, 47, 0.06);
  border-radius: 5px;
}
#selectedides-div .card-header {
  background: #fff;
  border-bottom: none;
  font-weight: 600;
  line-height: 20px;
  font-size: 18px;
  color: #212B36;
}
#selectedides-div .card-body {
  background: rgba(117, 117, 117, 0.05);
  border-bottom: 0;
}
#selectedides-div .card-footer {
  background: #fff;
  height: 500px;
}
.newskill img {
  margin-right: 30px;
}

/* configure.html*/
.select-ide {
  font-size: 14px;
  color: #373E42;
}
.waka {
  color: rgba(55, 62, 66, 0.5);
}
.wakatime-box {
  width: 93%;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.waka-text {
  font-size: 16px;
  color: #626262;
}
.bold {
  font-weight: bold;
}
.chaticon-div {
  position: absolute;
  right: 50px;
  top: 81%;
}
.p-bottom {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* client dashboard */
.profile-text.white {
  color: #fff;
}
.clientdashboard-logo {
  font-weight: 600;
  line-height: normal;
  font-size: 16px;
  color: #fff;
}
.clientdashboard-logo:hover {
  color: #fff;
  text-decoration: none;
}
.talentsearch-div {
  background: #FFFFFF;
  border: 0.2px solid #9B9B9B;
  padding: 15px 0 0px 18px;
}
.talentsearch-div p {
  font-size: 18px;
  line-height: 20px;
  color: #979797;
}
.filter-div {
  padding: 15px 0 0 18px;
}
.filter-div p {
  line-height: 20px;
  font-size: 14px;
  color: #626262;
}
.filter-div .form-control {
  /*border: 0.3px solid #626262;*/
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.02);
  border-radius: 3px;
}
#filter {
  font-size: 18px;
}
#search-filter {
  border: 0.3px solid #626262;
  font-size: 14px;
  width: 100%;
  font-weight: normal;
  padding: 10px 0;
}
.searchfilter-line {
  margin-top: 40px;
  margin-right: -30px;
  margin-left: -35px;
}
.filter-column {
  background: #fff;
  margin-left: -17px;
  margin-top: -14px;
}
.filterdiv {
  padding: 15px 15px 15px 20px;
}
.profilecard-div {
  margin-top: 10px;
}
.profilecard-div a:hover {
  text-decoration: none;
}
.profilecard-div .card-header {
  padding: 0;
  border-radius: 5px 5px 0px 0px;
}
.profilecard-div .developername {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}
.profilecard-div .developerdetails {
  line-height: 20px;
  font-size: 14px;
  color: #979797;
}
.developerline {
  border: 0.5px solid #9B9B9B;
}
p.developerinterest {
  color: #626262;
}
.profilecard-row {
  padding: 10px 0 150px 20px;
}
/* clients dashboard two*/
.profile-back {
  font-size: 14px;
  color: #373E42;
}
.profileback {
  color: rgba(55, 62, 66, 0.5);
}
.profiledetailsdiv {
  background: #FFFFFF;
  border: 0.2px solid #9B9B9B;
  border-radius: 5px;
  padding: 15px;
}
p.profiledetails-name {
  font-weight: 600;
  line-height: 31px;
  font-size: 25px;
  color: #000;
  clear: right;
}
a.profilemessage-icon {
  width: 31px;
  height: 31px;
  text-align: center;
  border-radius: 30px;
  color: #979797;
  padding-top: 5px;
  background: rgba(218, 218, 218, 0.3);
  float: left;
  margin-left: 5px;
}
p.profiledetails-age {
  line-height: 28px;
  font-size: 19px;
}
p.htmlprof {
  font-size: 12px;
  font-weight: 600;
  color: #9b9b9b;
  margin-top: -6px;
}
p.profpercentage {
  font-size: 20px;
  font-weight: bold;
  color: #4a4a4a;
  margin-top: -18px;
}
.hours-spent {
  font-weight: 600;
  line-height: 20px;
  font-size: 21px;
  color: #212B36;
}
.hoursspent-div {
  background: #FFFFFF;
  border: 0.5px solid #DADADA;
  border-radius: 3px;
}
.hoursspentdiv {
  position: relative;
  padding: 0 0 0 20px;
  top: 45px;
  margin-top: -20px;
}
p.hoursspent-hour {
  font-size: 27px;
  color: #626262;
}
p.performance {
  float: right;
  position: relative;
  top: -30px;
  bottom: 0;
  right: 10px;
  font-size: 9px;
  color: #000;
}
span.perfpercentage {
  font-size: 11.55px;
  color: #24CCB8;
}
hr.searchfor-line.process-line {
  width: 5%;
  margin-top: -10px;
}

/* doughnut chart */
.donut-chart.chart2 {
  width: 120px;
  height: 120px;
  background: #e1e1e1;
}
.donut-chart {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.donut-chart.chart2 .slice.one {
  clip: rect(0 120px 60px 0);
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg);
  background: #1EAEE7;
}
.donut-chart .slice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.donut-chart.chart2 .slice.two {
  clip: rect(0 60px 120px 0);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  background: #1EAEE7;
}
.donut-chart.chart2 .chart-center {
  top: 5px;
  left: 5px;
  width: 110px;
  height: 110px;
  background: #fff;
}
.donut-chart .chart-center {
  position: absolute;
  border-radius: 50%;
}
.donut-chart.chart2 .chart-center span:after {
  content: "82%";
}
.donut-chart.chart2 .chart-center span {
  font-size: 40px;
  line-height: 110px;
  color: #1EAEE7;
}
.donut-chart .chart-center span {
  display: block;
  text-align: center;
}
















@media screen and (max-width: 768px) {
  #getitdone-div p {
    width: 70%;
  }
  .dashlogo-div {
    margin-left: 0;
  }
  .altlogin-div {
    margin-top: 10px;
  }
  .howitworkstext-div, .whytext-div {
    width: auto;
  }
  .signup#search {
    margin-left: 0;
  }
  #search-div form {
    padding-bottom: 10px;
  }
  #search-div .search {
    border-right: 0;
  }
  .process-box {
    margin-bottom: 15px;
  }
  .companies-image {
    margin-left: 0;
  }
  .companies-image img {
    margin-bottom: 15px;
  }
  .login-tab {
    
  }
  .select-div {
    margin-left: 7px;
  }
  .devdashboard-div .nav-tabs .nav-link {
    width: 92px;
  }
  .chaticon-div {
    top: 94%;
  }
  .apikey {
    margin-left: 0;
    height: auto;
  }
  #profilecreation-div form {
    height: auto;
  }
  .filter-div {
    padding: 0;
  }
  .filter-column {
    margin-left: 0;
    margin-top: 0;
  }
  .profilecard-row {
    padding: 10px 0 150px 0;
  }
  #geninfo-tab {
    margin-left: 0;
  }
  p.performance {
    top: -20px;
  }
}

@media screen and (max-width: 400px) {
  .pro {
    display: none;
  }
  #profilerow {
    margin-top: 10px;
  }
}

@media screen and (min-width: 770px) and (max-width: 1099px) {
  .select-div {
    margin-left: 35px;
  }
  #geninfo-tab {
    margin-left: 0;
  }
  .apikey {
    margin-left: 30px;
    height: auto;
  }
}
@media screen and (min-width: 1100px)and (max-width: 1280px) {
  .select-div {
    /*margin-left: -35px;*/
    margin-left: 20px;
  }
}
@media screen and (min-width: 770px) and (max-width: 960px) {
  /*#profilecardcol-3,
  #profilecardcol-9 {
    flex: 0 0 100%;
    max-width: 100%;
  }*/
  .profilecard-row {
    padding: 10px 0 150px 0;
  }
  .filter-div {
    padding: 0;
  }
  .filter-column {
    margin-left: 0;
    margin-top: 0;
  }
  p.performance {
    top: -20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1110px) {
  .apikey {
    margin-left: 30px;
  }
}







/* MORRIS GRAPH CSS */
.morris-hover {
  position:absolute;
  z-index:1000;
}

.morris-hover.morris-default-style {     border-radius:10px;
  padding:6px;
  color:#666;
  background:rgba(255, 255, 255, 0.8);
  border:solid 2px rgba(230, 230, 230, 0.8);
  font-family:sans-serif;
  font-size:12px;
  text-align:center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight:bold;
  margin:0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space:nowrap;
  margin:0.1em 0;
}

svg { width: auto; height: auto; }













